[package]
name = "geoarrow"
version = "0.2.0"
authors = ["Kyle Barron <kylebarron2@gmail.com>"]
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/geoarrow/geoarrow-rs"
description = "Rust implementation of GeoArrow"
categories = ["science::geo"]
rust-version = "1.75"

[features]
csv = ["dep:geozero", "geozero/with-csv"]
flatgeobuf = ["dep:flatgeobuf", "geozero"]
flatgeobuf_async = [
  "flatgeobuf/http",
  "dep:async-trait",
  "dep:bytes",
  "dep:http-range-client",
  "dep:object_store",
]
gdal = ["dep:gdal"]
geos = ["dep:geos"]
geozero = ["dep:geozero"]
ipc_compression = ["arrow-ipc/lz4", "arrow-ipc/zstd"]
parquet = ["dep:parquet"]
parquet_async = [
  "parquet",
  "parquet/async",
  "dep:futures",
  "dep:tokio",
  "dep:object_store",
]
parquet_compression = [
  "parquet/snap",
  "parquet/brotli",
  "parquet/flate2",
  "parquet/lz4",
  "parquet/zstd",
]
polylabel = ["dep:polylabel"]
postgis = ["dep:async-stream", "dep:futures", "dep:sqlx", "geozero"]
proj = ["dep:proj"]
rayon = ["dep:rayon"]


[dependencies]
anyhow = "1"
arrow = { version = "51", features = ["ffi"] }
arrow-array = { version = "51", features = ["chrono-tz"] }
arrow-buffer = "51"
arrow-cast = "51"
arrow-data = "51"
arrow-ipc = "51"
arrow-json = "51"
arrow-schema = "51"
async-stream = { version = "0.3", optional = true }
async-trait = { version = "0.1", optional = true }
bumpalo = { version = "3", features = ["collections"] }
byteorder = "1"
bytes = { version = "1.5.0", optional = true }
chrono = "0.4"
# Set default-features = false because async not working in wasm right now
flatgeobuf = { version = "4.1.0", optional = true, default-features = false }
futures = { version = "0.3", optional = true }
gdal = { version = "0.16", optional = true }
geo = "0.28"
geo-index = "0.1.1"
geodesy = { version = "0.12", optional = true }
geos = { version = "9.0", features = ["v3_11_0", "geo"], optional = true }
geozero = { version = "0.12", features = ["with-wkb"], optional = true }
http-range-client = { version = "0.7.2", optional = true }
indexmap = "2"
itertools = "0.12"
num_enum = "0.7"
object_store = { version = "0.9.0", optional = true }
parquet = { version = "51", optional = true, default-features = false, features = [
  "arrow",
] }
phf = { version = "0.11", features = ["macros"] }
polylabel = { version = "3.2.0", optional = true }
proj = { version = "0.27.2", optional = true, features = [
  "pkg_config",
  "geo-types",
] }
rayon = { version = "1.8.0", optional = true }
rstar = "0.12"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sqlx = { version = "0.7", optional = true, default-features = false, features = [
  "chrono",
  "json",
  "postgres",
  "runtime-tokio",
  "tls-rustls",
] }
thiserror = "1"
tokio = { version = "1", default-features = false, optional = true }

# Temporary until https://github.com/georust/geozero/pull/208 is merged and released.
geojson = { version = "0.24.1", default-features = false }

half = "*"
lexical-core = "*"


[dev-dependencies]
approx = "0.5.1"
bytes = "1.5.0"
criterion = { version = "0.5", features = ["html_reports"] }
gdal = { version = "0.16", features = ["bindgen"] }
geozero = { version = "0.12", features = ["with-wkb"] }
sqlx = { version = "0.7", default-features = false, features = ["postgres"] }
tokio = { version = "1.9", features = ["macros", "fs", "rt-multi-thread"] }
url = "*"
object_store = { version = "*", features = ["http", "aws"] }
parquet = { version = "51", default-features = false, features = [
  "arrow",
  "object_store",
] }


[lib]
doctest = true

[[example]]
name = "gdal"
test = false
required-features = ["gdal"]

[[bench]]
name = "area"
harness = false

[[bench]]
name = "from_geo"
harness = false

[[bench]]
name = "geos_buffer"
harness = false

[[bench]]
name = "nybb"
harness = false

[[bench]]
name = "translate"
harness = false

[[bench]]
name = "wkb"
harness = false

[package.metadata.docs.rs]
features = [
  "csv",
  "flatgeobuf",
  "geos",
  "geozero",
  "parquet",
  "postgis",
  "rayon",
]
