[package]
name = "geoarrow"
version = "0.1.0"
authors = ["Kyle Barron <kylebarron2@gmail.com>"]
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/geoarrow/geoarrow-rs"
description = "Rust implementation of GeoArrow"
categories = ["science::geo"]
rust-version = "1.75"

[features]
csv = ["dep:geozero", "geozero/with-csv"]
flatgeobuf = ["dep:flatgeobuf", "geozero"]
flatgeobuf_async = [
  "flatgeobuf/http",
  "dep:async-trait",
  "dep:bytes",
  "dep:http-range-client",
  "dep:object_store",
]
gdal = ["dep:gdal"]
geos = ["dep:geos"]
geozero = ["dep:geozero"]
ipc_compression = ["arrow-ipc/lz4", "arrow-ipc/zstd"]
parquet = ["dep:parquet"]
parquet_async = ["parquet", "parquet/async", "dep:futures"]
parquet_compression = [
  "parquet/snap",
  "parquet/brotli",
  "parquet/flate2",
  "parquet/lz4",
  "parquet/zstd",
]
postgis = ["dep:async-stream", "dep:futures", "dep:sqlx", "geozero"]
proj = ["dep:proj"]
rayon = ["dep:rayon"]


[dependencies]
anyhow = "1"
arrow = { version = "50", features = ["ffi"] }
arrow-array = "50"
arrow-buffer = "50"
arrow-cast = "50"
arrow-data = "50"
arrow-ipc = "50"
arrow-schema = "50"
async-stream = { version = "0.3", optional = true }
async-trait = { version = "0.1", optional = true }
bumpalo = { version = "3", features = ["collections"] }
byteorder = "1"
bytes = { version = "*", optional = true }
chrono = "0.4"
# Set default-features = false because async not working in wasm right now
flatgeobuf = { version = "4.1.0", optional = true, default-features = false }
futures = { version = "0.3", optional = true }
gdal = { version = "0.16", optional = true }
geo = "0.28"
geodesy = { version = "0.12", optional = true }
geos = { version = "8.3", features = ["v3_10_0", "geo"], optional = true }
geozero = { version = "0.12", features = ["with-wkb"], optional = true }
http-range-client = { version = "0.7.2", optional = true }
indexmap = "2"
itertools = "0.12"
num_enum = "0.7"
object_store = { version = "0.9.0", optional = true }
parquet = { version = "50", optional = true, default-features = false, features = [
  "arrow",
] }
phf = { version = "0.11", features = ["macros"] }
proj = { version = "0.27.2", optional = true, features = [
  "pkg_config",
  "geo-types",
] }
rayon = { version = "1.8.0", optional = true }
# Note: geo has a hard dependency on rstar, so there's no point in feature flagging it
rstar = { version = "0.11" }
serde = { version = "1", features = ["derive"] }
serde_json = { version = "1" }
sqlx = { version = "0.7", optional = true, default-features = false, features = [
  "chrono",
  "json",
  "postgres",
  "runtime-tokio",
  "tls-rustls",
] }
thiserror = "1"


[dev-dependencies]
approx = "0.5.1"
criterion = { version = "0.5", features = ["html_reports"] }
gdal = { version = "0.16", features = ["bindgen"] }
geozero = { version = "0.12", features = ["with-wkb"] }
parquet = "50"
sqlx = { version = "0.7", default-features = false, features = ["postgres"] }
tokio = { version = "1.9", features = ["macros", "fs", "rt-multi-thread"] }

[lib]
doctest = true

[[example]]
name = "gdal"
test = false
required-features = ["gdal"]

[[bench]]
name = "area"
harness = false

[[bench]]
name = "from_geo"
harness = false

[[bench]]
name = "geos_buffer"
harness = false

[[bench]]
name = "nybb"
harness = false

[[bench]]
name = "translate"
harness = false

[[bench]]
name = "wkb"
harness = false

[package.metadata.docs.rs]
features = [
  "csv",
  "flatgeobuf",
  "geos",
  "geozero",
  "parquet",
  "postgis",
  "rayon",
]
