[package]
name = "geoarrow"
version = "0.0.1"
authors = ["Kyle Barron <kylebarron2@gmail.com>"]
edition = "2021"
license = "MIT"
repository = "https://github.com/geopolars/geoarrow"
description = "Rust implementation of GeoArrow"

[dependencies]
geo = "0.23"
geos = { version = "8", features = ["v3_8_0", "geo"], optional = true }
thiserror = "1"
anyhow = "1"
geozero = { version = "0.9.4", features = ["with-wkb"] }
arrow2 = { version = "0.15" }
# TODO: properly feature gate this
rstar = { version = "0.9.3" }

[dev-dependencies]
arrow2 = { version = "0.15", features = [
  "io_parquet",
  "io_parquet_compression",
] }
criterion = { version = "0.4", features = ["html_reports"] }

[lib]
# TODO: fix docstrings
doctest = false
