[package]
name = "geoarrow-rust"
version = "0.1.0"
authors = ["Kyle Barron <kylebarron2@gmail.com>"]
edition = "2021"
description = "Efficient, vectorized geospatial operations in Python."
readme = "README.md"
repository = "https://github.com/geoarrow/geoarrow-rs"
license = "MIT OR Apache-2.0"
keywords = ["python", "arrow", "geospatial"]
categories = ["wasm", "science::geo"]
rust-version = "1.75"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "_rust"
crate-type = ["cdylib"]

[features]
default = ["async", "non_pyodide", "parquet_compression", "postgis", "rayon"]

async = ["dep:pyo3-asyncio", "dep:tokio"]
non_pyodide = ["pyo3/multiple-pymethods"]
parquet_compression = ["geoarrow/parquet_compression"]
postgis = ["async", "geoarrow/postgis", "dep:sqlx"]
rayon = ["geoarrow/rayon"]

[dependencies]
arrow-array = "50"
arrow-buffer = "50"
arrow = { version = "50", features = ["ffi"] }
flatgeobuf = { version = "4", default-features = false }
pyo3 = { version = "0.20.0", features = [
    "abi3-py38",
    "serde",
] }
pyo3-asyncio = { version = "0.20", features = [
    "tokio-runtime",
], optional = true }
geo = "0.27"
geoarrow = { path = "../../", features = [
    "csv",
    "flatgeobuf",
    "geozero",
    "parquet",
] }
ndarray = "0.15"
numpy = "0.20"
sqlx = { version = "0.7", default-features = false, features = [
    "postgres",
], optional = true }
thiserror = "1"
tokio = { version = "1.9", features = ["rt"], optional = true }
