[package]
name = "geoarrow-rust"
version = "0.1.0"
authors = ["Kyle Barron <kylebarron2@gmail.com>"]
edition = "2021"
description = "Efficient, vectorized geospatial operations in Python."
readme = "README.md"
repository = "https://github.com/geoarrow/geoarrow-rs"
license = "MIT OR Apache-2.0"
keywords = ["python", "arrow", "geospatial"]
categories = ["wasm", "science::geo"]
rust-version = "1.75"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "_rust"
crate-type = ["cdylib"]

[dependencies]
arrow-array = { git = "https://github.com/apache/arrow-rs", rev = "fbbb61d94282165f9bb9f73fb4d00a3af16d4aee" }
arrow-buffer = { git = "https://github.com/apache/arrow-rs", rev = "fbbb61d94282165f9bb9f73fb4d00a3af16d4aee" }
arrow = { git = "https://github.com/apache/arrow-rs", rev = "fbbb61d94282165f9bb9f73fb4d00a3af16d4aee", features = [
    "ffi",
] }
flatgeobuf = { version = "4", default-features = false }
pyo3 = { version = "0.20.0", features = [
    "abi3-py38",
    "multiple-pymethods",
    "hashbrown",
    "serde",
    "anyhow",
] }
pyo3-asyncio = { version = "0.20", features = ["tokio-runtime"] }
geo = "0.27"
geoarrow = { path = "../../", features = [
    "csv",
    "flatgeobuf",
    "geozero",
    "parquet_compression",
    "parquet",
    "postgis",
    "rayon",
] }
ndarray = "0.15"
numpy = "0.20"
sqlx = { version = "0.7", default-features = false, features = ["postgres"] }
thiserror = "1"
tokio = { version = "1.9", features = ["rt"] }
