site_name: geoarrow-rust
repo_name: geoarrow/geoarrow-rs
repo_url: https://github.com/geoarrow/geoarrow-rs
site_description: Python bindings to Rust implementation of GeoArrow
site_author: Kyle Barron
# Note: trailing slash recommended with mike:
# https://squidfunk.github.io/mkdocs-material/setup/setting-up-versioning/#publishing-a-new-version
site_url: https://geoarrow.github.io/geoarrow-rs/python/
docs_dir: source

extra:
  social:
    - icon: "fontawesome/brands/github"
      link: "https://github.com/geoarrow"
    # - icon: "fontawesome/brands/twitter"
    #   link: "https://twitter.com/developmentseed"
    # - icon: "fontawesome/brands/medium"
    #   link: "https://medium.com/devseed"
  version:
    provider: mike

nav:
  - index.md
  - API Reference:
    - core:
      - api/core/index.md
      - Geometry Arrays:
        - api/core/geometry/array.md
        - api/core/geometry/chunked.md
        - api/core/geometry/scalar.md
      - Primitive Arrays:
        - api/core/primitive/array.md
        - api/core/primitive/chunked.md
      - api/core/table.md
      - Operations: api/core/functions.md
      - Interoperability: api/core/interop.md
      - IO: api/core/io.md
      - Types: api/core/types.md
  - Ecosystem:
    - ecosystem/geopandas.md
    - ecosystem/lonboard.md
    # - ecosystem/polars.md
    - ecosystem/pyogrio.md
    - ecosystem/shapely.md
  - Performance:
    - performance/multithreading.md

  # - Caveats: caveats.md
  # - Performance: performance.md
  # - Changelog: CHANGELOG.md
  # - "How it works?": how-it-works.md

watch:
  - ../core/python
  - source

theme:
  name: material
  icon:
    logo: material/earth
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: rust-light
      primary: custom
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

  font:
    text: Roboto
    code: Roboto Mono

  # logo: img/geopolars_logo.svg

  features:
    - content.code.annotate
    - content.code.copy
    - navigation.indexes
    - navigation.instant
    - navigation.tracking
    - search.suggest
    - search.share

# Additional CSS
extra_css:
  - stylesheets/extra.css

plugins:
  - search
  - social
  - mike:
      alias_type: "copy"
      canonical_version: "latest"
  - mkdocstrings:
      enable_inventory: true
      handlers:
        python:
          paths: [python]
          options:
            show_root_heading: true
            docstring_style: google
            show_source: false
            docstring_section_style: list
            separate_signature: true
            show_signature_annotations: true
            line_length: 80
            merge_init_into_class: true

          import:
            - https://arrow.apache.org/docs/objects.inv
            - https://contextily.readthedocs.io/en/stable/objects.inv
            - https://docs.python.org/3/objects.inv
            - https://fiona.readthedocs.io/en/stable/objects.inv
            - https://geopandas.org/en/stable/objects.inv
            - https://geopy.readthedocs.io/en/stable/objects.inv
            - https://matplotlib.org/stable/objects.inv
            - https://numpy.org/doc/stable/objects.inv
            - https://pandas.pydata.org/pandas-docs/stable/objects.inv
            - https://pola-rs.github.io/polars/py-polars/html/objects.inv
            - https://pyepsg.readthedocs.io/en/stable/objects.inv
            - https://pygeos.readthedocs.io/en/latest/objects.inv
            - https://pyogrio.readthedocs.io/en/stable/objects.inv
            - https://pyproj4.github.io/pyproj/stable/objects.inv
            - https://pysal.org/libpysal/objects.inv
            - https://pysal.org/mapclassify/objects.inv
            - https://python-visualization.github.io/folium/latest/objects.inv
            - https://rasterio.readthedocs.io/en/stable/objects.inv
            - https://residentmario.github.io/geoplot/objects.inv
            - https://rtree.readthedocs.io/en/stable/objects.inv
            - https://scitools.org.uk/cartopy/docs/latest/objects.inv
            - https://shapely.readthedocs.io/en/stable/objects.inv
            - https://traitlets.readthedocs.io/en/stable/objects.inv
            - https://xyzservices.readthedocs.io/en/stable/objects.inv

# https://github.com/developmentseed/titiler/blob/50934c929cca2fa8d3c408d239015f8da429c6a8/docs/mkdocs.yml#L115-L140
markdown_extensions:
  - admonition
  - attr_list
  - codehilite:
      guess_lang: false
  - def_list
  - footnotes
  - pymdownx.arithmatex
  - pymdownx.betterem
  - pymdownx.caret:
      insert: false
  - pymdownx.details
  - pymdownx.emoji
  - pymdownx.escapeall:
      hardbreak: true
      nbsp: true
  - pymdownx.magiclink:
      hide_protocol: true
      repo_url_shortener: true
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - toc:
      permalink: true
