[package]
name = "geodatafusion"
version = "0.1.0-dev"
authors = ["Kyle Barron <kylebarron2@gmail.com>"]
edition = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
description = "Rust implementation of GeoArrow"
categories = { workspace = true }
rust-version = { workspace = true }


[dependencies]
datafusion = { workspace = true }
arrow-array = { workspace = true, features = ["chrono-tz"] }
arrow-buffer = { workspace = true }
arrow-cast = { workspace = true }
arrow-csv = { workspace = true, optional = true }
arrow-data = { workspace = true }
arrow-ipc = { workspace = true }
arrow-schema = { workspace = true }
async-stream = { workspace = true, optional = true }
async-trait = { workspace = true, optional = true }
geo = { workspace = true }
geohash = { workspace = true }
geo-traits = { workspace = true }
geoarrow-array = { workspace = true }
geoarrow-schema = { workspace = true }
thiserror = { workspace = true }

[dev-dependencies]
approx = { workspace = true }
geoarrow-array = { workspace = true, features = ["test-data"] }
tokio = { workspace = true, features = ["macros", "fs", "rt-multi-thread"] }
